<app-navbar></app-navbar>
<div class="jumbotron text-center">
    <h1 class="display-4">Contact Us</h1>
    <hr class="my-4">
    <p class='lead'>Want to get in touch? Here's how you can reach us!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-phone-alt"></i>
                    <h5 class="card-title">Contact sales</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="text-info">+91-7777777777</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-comments"></i>
                    <h5 class="card-title">Contact customer support</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button class="btn btn-dark">Contact Support</button>
                </div>
            </div>
        </div>
    </div>
</div>