@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.jumbotron{
   background-color: rgba(178,178,162, 0.5);
   margin-bottom: 0px;
   font-family: 'Open Sans', cursive;
}